.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* custom code */
.menu_container > div {
  display: inline-block;
  display: -moz-inline-box;
  height: 50px;
  *display: inline; /* For IE7 */
  zoom: 1; /* Trigger hasLayout */
  width: 16.6%;
  text-align: center;
  line-height: 50px;
  background-color: #80deea;
}

.footer_container > div {
  background-color: #1c3144;
  color: azure;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* new */
body {
  /* background-color: #FFCC00; */
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #63b4d1;
  padding: 0;
}
ul.header li a {
  color: #111;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
