/* Modal Tooltip CSS */

.modal_tooltip {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%; 
  padding: 10px;
  box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
}

.modal_content_div {
	/*top: 35%;*/
    position: relative;
}

.modal_title_content {
	font-size: 150%;
	font-weight: 300
}

.modal_desc_content {
	font-size: 140%;
}

.source_link {
  font-size: 50%;
  user-select: none;
}